{% extends "index/index.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <h2 class="mb-4 text-center">Профиль пользователя</h2>

    <div class="table-responsive w-50 mx-auto">
        <table class="table table-bordered table-striped align-middle">
            <tbody>
                <tr>
                    <th scope="row" class="text-header-color">Имя пользователя</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-header-color">Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-header-color">Имя</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-header-color">Фамилия</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-header-color">Дата регистрации</th>
                    <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
